:root{
  --background-main-color: #000000;
  --background-secondary-color: #ffffff;
}


body,html{
  height: 100%;
  background: var(--background-main-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  
}
body{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
}

.header{
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  top: 0;
  color:var(--background-secondary-color);
  width: 100%;
  padding:1rem 0; 
}
.main{
  display: flex;
  flex-grow: 1;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color:white;
  
}
.sidebar{
  color :white;
  width:15%;
  padding:0.5rem 0.1rem;
  height: 100%;
  
  
}

.project{
  display:flex;
  flex-direction:column;
  gap: 1rem;
  width: 100%;
}
.project ul{
  margin:0;
  padding: 0.7rem;;
  align-items:left;
} 

ul{
  list-style: none;
}
.side-nav{
  position: relative;
  display: inline-block;
  overflow:visible !important;
}
.dropdown-project{
display:none ;
position: absolute;
z-index: 1;
}
.project-button{
  margin: 0.3rem 0 !important; 
  width: 4.2rem!important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  line-height: 1.5rem !important;
  padding:0.3rem 0.7rem !important;
  background-color: #222222;
  color: rgb(122, 162, 35);
  border: 1px solid rgb(122, 162, 35);
}
.project-list{
  cursor: pointer;
 font-size: 1.2rem;
}
.project-list:hover{
background-color: #a5ce1e;

}
.project-active{
  background-color: #a5ce1e;

}

.modal{ 
 position:fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow:auto;
  overflow-y: scroll;
  background-color:rgba(0,0,0);
  background-color:rgba(0,0,0,0.4);
}
.myModal{
  display:none;
}

.modal h1{
  text-align: center;
}

.modal-content{
  position:fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display:flex;
  flex-direction:column; 
  justify-content: flex-start;
  align-content: center;
  background-color: #fefefe;
  padding:20px;
  border:1px solid #888;
  width:55%;
  border-radius: 10px;
}

.modal-content  input{
  width:20rem;
  height:30px;
  overflow:auto;
  cursor: pointer;
  border-radius:8px;
  display:flex;
  align-self: center;
}

.projectModal{
  display:none;
}

.project-modal-content{
  display:flex;
  flex-direction:column; 
  justify-content: flex-start;
  align-content: center;
  background-color: #fefefe;
  border:1px solid #888;
  width:fit-content;
  margin:10% auto;
  padding: 2rem;
  border-radius:10px;
}
.project-modal-content input{
  width:20rem;
  height:30px;
  overflow:auto;
  cursor: pointer;
 margin-bottom:.5rem;
 
}

#ProjectSubmitButton{
  background-color: #4CAF50;
  color:white;

}

.task-desc{
  margin: 1rem 0;
  
}

#newProject{
  width: fit-content;
  height:fit-content;
  padding:0.5rem .5rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 10px;
  background-color: #000000;
  color: white;
}

.modal-date,.modal-priority,.modal-project{
  display:flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  width:fit-content;
  padding: .5rem 0;
}

.modal-content select{
  border-radius: 8px;
}

.modal-button{
  padding: .5rem 0;
  display:flex;
  gap: 3rem;
  justify-content:center;
}

.button{
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  cursor: pointer;
  display: inline-block;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

#addTask,#updateTask {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  color: #222222;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  
 
  
}
#addTask:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button:active{
  transform: scale(.96);
}
#addTask:active {
  background-color: #F7F7F7;
  border-color: #000000;
  
}

#addTask:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

#addTask:hover{
  background-color: #000000;
  color: #FFFFFF;
}

#cancelform,#cancelUpdateform {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: #FFFFFF;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  text-rendering: geometricprecision;
  
  vertical-align: middle;
}

#cancelform:hover,
#cancelform:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.bi-plus-lg{
  font: size 1.5em;
 
}

#header-button{
  background: var(--background-main-color);
  color:white;
}

#header-button:hover{
  background: var(--background-secondary-color);
  color:black;
  transform: scale(1.2);
}

table {
  border: 2px solid #eec9a4;

}

td{
  border-left: 2px solid #eec9a4;
}

td:nth-child(1){
  border-left: none;
}
.priority-1 td:nth-child(2),
.priority-1 td:nth-child(3) {
    background-color: transparent !important;
}
.priority-2 td:nth-child(3) {
    background-color: transparent !important;
}

#priority-1 {
  background-color: rgb(68, 161, 68);
}
#priority-2 {
  background-color: rgb(217, 217, 36);
}
#priority-3 {
  background-color: #ef0e0e;
}

 .task-container{
  width: 95%;
  display:flex;
  padding-left: 4rem;
  margin: 0.5rem 0;
  gap: 2rem;
   
}

.content .todo-task{
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 0.5rem 0;
  }
  

  .group-button::after{
  text-align: center;
  vertical-align: bottom!important;
    content: "\02795";
    font-size:0.8rem;
    margin-right: 0.4rem;
    color: #777777;
    float: right !important;
   
  }

.priority{
  padding: 0 0.5rem;
}
.option-button, .side-nav{
  margin-right: 0.4rem;
  font-size:1rem ;
  line-height:1rem;
  border:none;
  width:fit-content;
  height: fit-content;
  cursor: pointer;
}

.side-nav{
  margin-right: 0.2rem !important;
  background-color:inherit;
  color: white;
}

.todo-task-button{
  
  background-color: #eee;
  color: #444;
  border:none;
  outline:none;
  transition:0.4s;
  width: 80%;
  

}
.active, .todo-task-button:hover {
  background-color: #ccc;
}
.active:after{
  content: "\2796";
}

.content{
  display: flex;

}
.task-title{
  width:8rem;
  text-align: left;
}
.task-date{
  width:8rem;
  text-align: left;
}
.task-project{
  width:8rem;
  text-align: left;
}

.panel{
  background-color:#eee;
  display:none;
  padding:1rem 0.8rem;
  overflow: hidden;
  word-wrap: break-word;
  text-rendering: optimizeSpeed;
  
}

.dropdown-remove,.dropdown-edit{
  position:relative;
  height:fit-content!important;
  width: fit-content!important;
  padding:0.3rem 0.3rem !important;
}

.dropdown-content{
  display:none;
  overflow:hidden;
  width:auto;
}
.dropdown-content button{
  
  margin-left:0.3rem;
}

.error{
  color:red;
  text-align: center;
}

.bi-check-lg{
color:green;
}

.bi-x-lg{
color:red;
}

.check-button{
  border: none !important;
  margin-right: 0.2rem;;
}

s { 
  text-decoration: line-through;
  font-size:bold;
}