body,html{
  height: 100%;
  background: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  
}
body{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
}

.header{
  text-align: center;
  top: 0;
  color:white;
  width: 100%;
  
}
.main{
  display: flex;
  flex-grow: 1;
}

.content{
  flex-grow: 1;
  background-color:white
  
}
.sidebar{
  color :white;
  padding:0.5rem 4rem;
  height: 100%;
  
  
}

.project{
  display:flex;
  flex-direction:column;
  gap: 0.5rem;
}
